/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; 
}

body {
  background-color: #FDFFFF;
  color: #333;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5em;
  width: 100%;
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/images/fonts/ProximaNova-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/images/fonts/ProximaNova-Bold.otf') format("opentype");
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

a         { color: #477b96; }
a:hover   { text-decoration: none }
a:visited { color: #477b96; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  li {
    line-height: 1.5em;
  }
  span {
    color: #aaa;
    font-weight: 300;
  }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  width: 80%;
  max-width: 50em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

#profile-pic {
  border-radius: 31.25em;
  float: left;
  margin: -0.85em 0 0 0;
  overflow: auto;
  width: 17%;
}

.header-bio {
  font-size: 1.5em;
  line-height: 1.5em;
  border-bottom: 1px solid #ccc;
  padding: 1.875em 0 1.875em 0;
  overflow: auto;
}

.header h2 {
  font-size: 0.8em;
  line-height: 1.2em;
  font-weight: 300;
}

.header a {
  text-decoration: none;
}

.title {
  float: right;
  margin-top: .5em;
  margin-bottom: 0;
  width: 80%;
  font-weight: normal;
}

.title a {
  color: #b00;
}

.title a:hover {
  text-decoration: underline;
}

.header a.extra {
  color: #aaa;
}

#home {
  padding: 2em 0;
}

.pagetitle {
    font-size: 1.15em;
    font-size: 1.25em;
    padding-top: 2em;
  }

.meta {
  color: #aaa;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.footer {
  font-size: 1em;
  border-top: 1px solid #ccc;
  padding: 2em 0;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #477b96;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post {
  padding: 2em 0;
  font-size: 1.15em;
}

.post pre {
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f8f8f8;
  margin: 1em auto;
  padding: 0 .4em;
  padding: 0.5em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post a { color: #477b96; }
.post a:hover { color: #477b96; text-decoration: none; }
.post a:visited { color: #477b96; }

.post code {
  color: #c82829;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  padding: 0.1em .2em;
}

.post pre code {
  color: #333;
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Responsive */

@media only screen and (max-width: 42em) {

  .site {
    margin-top: 0;
  }

  .home {
    font-size: 1em;
  }

  #profile-pic {
    float: none;
    margin: 1.5em 0 0.5em 25%;
    width: 50%;
  }

  .header-bio {
    padding-top: 0;
    padding-bottom: 1em;
  }

  .title {
    float: none;
    width: 100%;
    margin-top: 0;
  }

  .header a.extra {
  color: #aaa;
  font-size: 0.8em;
  line-height: 0.8em;
  font-weight: normal;
  }

  .home {
    font-size: 1.15em;
  }

  .post {
  font-size: 1.15em;
  }

}