<div class="footer">
  <div class="contact">
    <p>
      Get in touch<br />
      <a href="mailto:jamal.b.afridi@gmail.com?subject=Hey Jamal!" title="I'll make sure to get back to you promptly.">email</a>
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://github.com/jafridi" alt="Jamal Afridi Github - Chicago Product Developer" title="Check out my Github repos">github</a><br />
      <a rel="author" href="https://dribbble.com/jafridi" title="Jamal Afridi Dribbble">dribbble</a><br />
      <a href="https://twitter.com/jafridi" alt="Jamal Afridi Twitter - Chicago Product Developer" title="Follow me on Twitter">twitter</a><br />
    </p>
  </div>
</div>