<div class="footer">
  <div class="contact">
    <p>
      Get in touch<br />
      <a href="mailto:jamal.b.afridi@gmail.com?subject=Hey Jamal!" title="I'll make sure to get back to you promptly.">email</a>
    </p>
  </div>
  <div class="contact">
    <p>
      <a rel="author" href="https://plus.google.com/u/1/+JamalAfridi1/?rel=author" title="Add Jamal on Google Plus">google+</a><br />
      <a href="https://twitter.com/jafridi" alt="Jamal Afridi Twitter - Chicago Product Design" title="Follow Jamal on Twitter">twitter</a><br />
    </p>
  </div>
</div>