@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/images/fonts/ProximaNova-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: bold;
  src: url("/assets/images/fonts/ProximaNova-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/images/fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/images/fonts/AvenirNextLTPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  src: url('AvenirNextLTPro-Demi.woff') format('woff');
}