.site-container {
  background: #A5B2B6;
  padding: 40px;
}

.info-container {
  background: #A5B2B6;
  padding: 10px;
}

hr {
  margin: 1.5em auto;
  width: 2em;
  border: 0;
  border-top: 1px solid rgba(255,255,255,0.3);
}

.post-content {
  font-size: 16px;
}

@media only screen and (max-width: 42em) {
  .post-content {
    width: 90%;
    margin: 0 auto;
  }
}