<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="site-container">
      <div class="site">
        <div class="header">
          <a href="/" style="border-bottom: none;">
            <img id="profile-pic" height="64px" width="64px" src="/assets/images/bullseye.png" title="Jamal Afridi">
          </a>
          <h1>
            Jamal Afridi
            <span>Senior Product Manager</span>
          </h1>
          <hr>
          <p class="title">Product manager living in Chicago. I love building great software products, working with smart people, and making good coffee.</p>
          <hr>
          <p class="title">I am currently lead product manager at <a href="https://www.avail.co">UrbanBound</a>.</p>
          <hr>
        </div>

  <!--       {{ content }} -->

        {% include footer.html %}
      </div>
    </div>
  </body>
</html>