<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
        <meta name="description" content="Jamal Afridi is a digital product developer at MortgageHippo.com focused on product design and Ruby on Rails development. Jamal is based in Chicago, IL." />

        <!-- Google Authorship and Publisher Markup -->
        <link rel="author" href="https://plus.google.com/+JamalAfridi1/posts"/>
        <link rel="publisher" href=”https://plus.google.com/+JamalAfridi1"/>

        <!-- Open Graph data -->
        <meta property="og:title" content="Jamal Afridi - Digital Product Developer" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://jamali.to/" />
        <meta property="og:image" content="http://www.jamali.to/assets/images/headshot.jpg" />
        <meta property="og:description" content="Jamal Afridi is a digital product developer at MortgageHippo.com. Jamal is based in Chicago and is a graduate of Notre Dame and the University of Chicago." />
        <meta property="og:site_name" content="Jamal Afridi - Digital Product Developer" />

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@jafridi">
        <meta name="twitter:domain" content="Jamal Afridi">
        <meta name="twitter:creator" content="@jafridi">


        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-48086886-1', 'jamali.to');
          ga('require', 'displayfeatures');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div class="site">
          <div class="header">
            <article class="header-bio">
              <img id="profile-pic" src="/assets/images/headshot.jpg" title="Jamal Afridi - Yup, this is me chillin'">
              <h1 class="title">I'm Jamal Afridi, product developer over at <a href="http://www.mortgagehippo.com">MortgageHippo</a>. I love building meaningful digital products, working with smart people, and making good coffee.</h1>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Hit me up:<br />
                <a href="mailto:jamal.b.afridi@gmail.com?subject=What's poppin?!" title="I'll make sure to get back to you.">jamal.b.afridi@gmail.com</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/jafridi" alt="Jamal Afridi GitHub - Chicago Product Design">github.com/jafridi</a><br />
                <a href="https://twitter.com/jafridi" alt="Jamal Afridi Twitter - Chicago Product Design">twitter.com/jafridi</a><br />
                <a href="https://plus.google.com/+JamalAfridi1?rel=author"></a>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>