<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - Jamal Afridi</title>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-48086886-1', 'jamali.to');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div class="site">
          <div class="header">
            <article class="header-bio">
              <img id="profile-pic" src="/assets/images/headshot.jpg" title="Yup, this is me chillin'">
              <h1 class="title">I'm Jamal Afridi, product developer over at <a href="http://www.mortgagehippo.com">MortgageHippo</a>. <a class="extra" href="/">
              <h2>« See my homepage for more on product design, marketing, and development.</a></h2
              </h1>
            
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Hit me up:<br />
                <a href="mailto:jamal.b.afridi@gmail.com?subject=What's poppin?!" title="I'll make sure to get back to you.">{{site.email}}</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a rel="author" href="https://plus.google.com/u/1/+JamalAfridi1/?rel=author" title="Add Jamal on Google Plus">Google+</a><br />
                <a href="https://twitter.com/jafridi" alt="Jamal Afridi Twitter - Chicago Product Design" title="Follow Jamal on Twitter">Twitter</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
